.navbar {
    justify-content: flex-end;
}

#titleContainer {
    background: rgba(144,238,144,1);
    background: -moz-linear-gradient(top, rgba(144,238,144,1) 0%, rgba(144,238,144,1) 4%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(144,238,144,1)), color-stop(4%, rgba(144,238,144,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(144,238,144,1) 0%, rgba(144,238,144,1) 4%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(144,238,144,1) 0%, rgba(144,238,144,1) 4%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(144,238,144,1) 0%, rgba(144,238,144,1) 4%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(144,238,144,1) 0%, rgba(144,238,144,1) 4%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90ee90', endColorstr='#ffffff', GradientType=0 );
}

#imgLogo {
    width: 64px;
    height: 64px;
    padding: 1em;
}

#btnCart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#total {
    width: 64px;
    background-color: lightgreen;
    color: darkgreen;
    border-color: darkgreen;
    border-radius: 8px;
    text-align: center;
}

#btnCart > img {
    width: 64px;
    height: 64px;
}

#logoTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5em;
}

h1 {
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgreen;
}

#basketContent {
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.basketItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    border-radius: 8px;
    padding: 1.5em;
}

.basketImages {
    width: 64px;
    height: 64px;
}

.vImages {
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    #imgLogo {
        width: 96px;
        height: 96px;
    }

    #btnCart > img {
        width: 96px;
        height: 96px;
    }

    .basketImages {
        width: 96px;
        height: 96px;
    }

    #total {
        width: 96px;
    }

    h1 {
        font-size: 2.5em;
    }
}